.account-form {
  text-align: center;

  h3 {
    margin: 0 0 25px;
  }

  form {
    .radio-area {
      margin-bottom: 15px;

      input {
        display: none;
      }

      label {
        width: 24%;
      }
    }

    .input-area {
      margin-bottom: 15px;
    }

    button {
      width: 100%;
      border-radius: 100px;
      padding: 13px;
      margin-top: 25px;
      color: dimgray;
      background-color: lavender;
      transition: background-color 0.3s, color 0.1s;
    }

    button:hover {
      color: white;
      background-color: mediumpurple;
    }
  }
}
