.accountant-template {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightgray;

  display: flex;
  justify-content: center;
  align-items: center;

  .white-box {
    width: 270px;
    padding: 30px;
    border-radius: 1px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
}
