.account-list {
  h3 {
    margin-bottom: 25px;
  }

  .list {
    margin-bottom: 75px;

    table {
      width: 100%;
      margin: 0 auto 50px;
      border-collapse: collapse;

      tr {
        border-bottom: 1px solid mediumpurple;

        th {
          width: 25%;
          min-width: 50px;
          padding: 10px;
          font-size: 18px;
          font-weight: normal;
        }

        td {
          padding: 10px 10px 0;

          .account-item {
            display: inline-block;
            margin: 0 15px 10px 0;
            font-size: 16px;
          }
        }
      }
    }
  }

  .register {
    form {
      width: 270px;
      margin: auto;

      .radio-area {
        margin-bottom: 30px;
        text-align: center;

        input {
          display: none;
        }

        label {
          display: inline-block;
          width: 24%;
          padding: 5px 0;
          border: 1px solid white;
          color: dimgray;
          transition: background-color 0.1s;
        }

        label:hover {
          background-color: lavender;
          cursor: pointer;
        }

        input:checked + label {
          color: black;
          background-color: lavender;
        }
      }

      .input-area {
        margin-bottom: 30px;
      }

      button {
        width: 100%;
      }
    }

  }

}
