.income-statement {
  .heading {
    padding-bottom: 15px;

    h3 {
      display: inline-block;
      margin-right: 10px;
    }

    span {
      font-weight: lighter;
      white-space: nowrap;
    }
  }

  .profit {
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: mediumpurple;
  }

  .detail {
    display: flex;

    table {
      tbody {
        tr {
          .occurred, .monthly-budget {
            text-align: right;
          }
        }
      }
    }

    .vertical-line {
      border-right: 1px solid mediumpurple;
    }
  }
}


@media (max-width: 1024px) {
  .income-statement {
    .detail {
      table {
        thead {
          tr {
            .monthly-budget {
              display: none;
            }
          }
        }

        tbody {
          tr {
            .monthly-budget {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .income-statement {
    .profit {
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .income-statement {
    .detail {
      display: block;

      .vertical-line {
        display: none;
      }
    }
  }
}
