.ledger {
  h3 {
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 25px;
  }

  .transactions {
    table {
      tbody {
        tr {
          .date {
            width: 60px;
            text-align: center;
          }

          .transaction-name {
            width: 60px;
            text-align: center;
          }

          .account-name {
            width: 120px;
            text-align: center;
          }

          .amount {
            width: 120px;
            text-align: right;
          }
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  .ledger {
    .transactions {
      table {
        tbody {
          tr {
            .account-name {
              width: 100px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ledger {
    .transactions {
      table {
        thead {
          tr {
            .description {
              display: none;
            }
          }
        }

        tbody {
          tr {
            td {
              padding: 5px 3px;
            }

            .date {
              width: 42px;
            }

            .transaction-name {
              width: 36px;
            }

            .account-name {
              width: 60px;
            }

            .amount {
              width: 100px;
            }

            .description {
              display: none;
            }
          }
        }
      }
    }
  }
}
