.navigation {
  height: 100%;
  padding: 0 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: lavender;

  span {
    color: dimgray;
    transition: color 0.3s;
  }

  span:hover, span:focus {
    color: black;
    cursor: pointer;
  }
}
