.navigation {
  height: 100%;
  padding: 0 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: lavender;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  .brand {
    letter-spacing: 3px;
  }

  .menus {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
      margin-left: 15px;

      .dropdown {
        position: absolute;
        top: 0;
        padding-top: 51px;
        height: 0;
        overflow: hidden;
        font-size: 14px;
        text-align: right;
        transition: height 0.3s;

        a, span {
          display: block;
          padding: 5px;
        }
      }

      .account-dropdown {
        z-index: 3;
        right: 125px;
      }

      .account-dropdown:hover {
        height: 65px;
      }

      .report-dropdown {
        z-index: 2;
        right: 68px;
      }

      .report-dropdown:hover {
        height: 93px;
      }

      .member-dropdown {
        z-index: 1;
        right: 17px;
      }

      .member-dropdown:hover {
        height: 65px;
      }
    }
  }

  span {
    color: dimgray;
    transition: color 0.3s;
  }

  span:hover, span:focus {
    color: black;
    cursor: pointer;
  }
}
