body {
  margin: 0;

  font-size: 16px;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  // layout ---------------------------------------------------------------------------------

  header {
    height: 50px;
  }

  main {
    min-height: calc(100vh - 150px);
  }

  footer {
    height: 99px;
  }


  // element --------------------------------------------------------------------------------

  :focus {
    outline: none;
  }

  a {
    text-decoration: none;
    color: dimgray;
    transition: color 0.3s;
  }

  a:hover, a:focus {
    color: black;
  }

  input {
    width: calc(100% - 20px);
    border: none;
    border-bottom: 1px solid dimgray;
    padding: 10px;
    font-size: 18px;
    transition: background-color 0.3s;
  }

  input:focus {
    background-color: lightgray;
  }

  button {
    border: none;
    border-radius: 1px;
    padding: 7px 11px;
    color: white;
    background-color: dimgray;
    font-size: 15px;
    transition: background-color 0.3s;
  }

  button:hover, button:focus {
    background-color: black;
    cursor: pointer;
  }

  label {
    display: inline-block;
    padding: 5px 0;
    border: 1px solid white;
    font-size: 16px;
    color: dimgray;
    transition: background-color 0.1s;
  }

  label:hover {
    background-color: lavender;
    cursor: pointer;
  }

  input:checked + label {
    color: black;
    background-color: lavender;
  }


  // text -----------------------------------------------------------------------------------

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  h4, h5, h6 {
    display: inline-block;
  }

  h1 {
    font-size: 26px;
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
  }

  h3 {
    font-size: 22px;
    font-weight: normal;
  }

  h4 {
    font-size: 19px;
    font-weight: normal;
  }

  h5 {
    font-size: 17px;
    font-weight: bold;
  }

  h6 {
    font-size: 16px;
    font-weight: bold;
  }

  small {
    font-size: 16px;
    font-weight: lighter;
  }

  .error {
    color: crimson;
  }


  // table ----------------------------------------------------------------------------------

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        th {
          white-space: nowrap;
          max-width: 1px;
          overflow: hidden;
          background-color: lavender;
          font-weight: normal;
          padding: 7px 0;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid mediumpurple;

        td {
          white-space: nowrap;
          max-width: 1px;
          overflow: auto;
          padding: 5px 10px;
        }
      }
    }
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@media (max-width: 768px) {
  body {
    font-size: 15px;

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 17px;
    }

    h5 {
      font-size: 16px;
    }

    h6 {
      font-size: 15px;
    }

    small {
      font-size: 15px;
    }
  }
}
