.auth-form {
  text-align: center;

  h3 {
    margin: 0 0 40px;
  }

  form {
    button {
      width: 100%;
      border-radius: 100px;
      padding: 13px;
      margin-top: 25px;
      color: dimgray;
      background-color: lavender;
      transition: background-color 0.3s, color 0.1s;
    }

    button:hover {
      color: white;
      background-color: mediumpurple;
    }
  }

  .links {
    margin: 40px 0 0;
    display: flex;
    justify-content: space-between;
  }
}
