.member-info {
  h3 {
    margin-bottom: 15px;
  }

  .info {
    margin-bottom: 40px;
    overflow: auto;

    .email {
      float: right;
      font-size: 20px;
      font-weight: lighter;
    }
  }

  .change {
    margin-bottom: 40px;

    form {
      overflow: auto;

      button {
        margin-top: 12px;
        float: right;
      }
    }
  }

  .withdraw {
    overflow: auto;

    button {
      float: right;
    }
  }
}
